annotated-types==0.7.0
anyio==4.13.0
bcrypt==4.1.2
biopython==1.83
cffi==1.16.0
click==8.1.7
colorama==0.4.6
cryptography==42.0.5
ecdsa==0.19.0
fastapi==0.110.0
google-generativeai==0.5.4
h11==0.14.0
httpx==0.27.0
idna==3.6
joblib==1.3.2
numpy==1.26.4
pandas==2.2.1
passlib==1.7.4
pyasn1==0.6.0
pycparser==2.21
pydantic==2.6.4
pydantic-settings==2.2.1
pydantic_core==2.16.3
python-dateutil==2.9.0
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.9
requests==2.31.0
rsa==4.9
scikit-learn==1.4.1.post1
scipy==1.12.0
six==1.16.0
starlette==0.36.3
threadpoolctl==3.3.0
typing_extensions==4.10.0
uvicorn==0.28.0
supabase==2.5.0
jose
web3